name: Continuous Integration

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test:
    timeout-minutes: 20
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run Unit Tests
        run: npm test
        
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
        
      - name: Run Playwright tests
        run: npx playwright test --config tests/playwright.config.js
        env:
          VITE_SUPABASE_URL: "${{ secrets.VITE_SUPABASE_URL }}"
          VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY: "${{ secrets.VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY }}"
          
      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
